In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('wfp_market_food_prices.csv',encoding = "ISO-8859-1")
data.head(6)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP
5,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,6,2014,50.0,WFP

In [12]:
unique_coun=data.adm0_name.unique()
l=[]
for i in unique_coun:
    l.append(data.cur_name[(data.loc[data['adm0_name']==i].index[0])])
print(l)

['AFN', 'DZD', 'AMD', 'AZN', 'BDT', 'XOF', 'BTN', 'BOB', 'XOF', 'BIF', 'KHR', 'XAF', 'CVE', 'XAF', 'XAF', 'COP', 'XAF', 'USD', 'XOF', 'CDF', 'DJF', 'USD', 'ETB', 'GMD', 'GEL', 'GHS', 'GTQ', 'XOF', 'GNF', 'HTG', 'USD', 'INR', 'IDR', 'IRR', 'IQD', 'JOD', 'KES', 'KGS', 'LAK', 'LBP', 'LSL', 'LRD', 'MGA', 'MWK', 'XOF', 'MRO', 'MZN', 'MMK', 'NPR', 'XOF', 'NGN', 'PKR', 'USD', 'PEN', 'PHP', 'RWF', 'XOF', 'SOS', 'LKR', 'SZL', 'SYP', 'TJS', 'USD', 'TRY', 'UGX', 'UAH', 'TZS', 'YER', 'ZMW', 'USD', 'NIS', 'SDG', 'EGP', 'SSP']

In [17]:
#country name and currency
Coun_type=list(zip(unique_coun,l))

[('Afghanistan', 'AFN'),
 ('Algeria', 'DZD'),
 ('Armenia', 'AMD'),
 ('Azerbaijan', 'AZN'),
 ('Bangladesh', 'BDT'),
 ('Benin', 'XOF'),
 ('Bhutan', 'BTN'),
 ('Bolivia', 'BOB'),
 ('Burkina Faso', 'XOF'),
 ('Burundi', 'BIF'),
 ('Cambodia', 'KHR'),
 ('Cameroon', 'XAF'),
 ('Cape Verde', 'CVE'),
 ('Central African Republic', 'XAF'),
 ('Chad', 'XAF'),
 ('Colombia', 'COP'),
 ('Congo', 'XAF'),
 ('Costa Rica', 'USD'),
 ("Cote d'Ivoire", 'XOF'),
 ('Democratic Republic of the Congo', 'CDF'),
 ('Djibouti', 'DJF'),
 ('El Salvador', 'USD'),
 ('Ethiopia', 'ETB'),
 ('Gambia', 'GMD'),
 ('Georgia', 'GEL'),
 ('Ghana', 'GHS'),
 ('Guatemala', 'GTQ'),
 ('Guinea-Bissau', 'XOF'),
 ('Guinea', 'GNF'),
 ('Haiti', 'HTG'),
 ('Honduras', 'USD'),
 ('India', 'INR'),
 ('Indonesia', 'IDR'),
 ('Iran  (Islamic Republic of)', 'IRR'),
 ('Iraq', 'IQD'),
 ('Jordan', 'JOD'),
 ('Kenya', 'KES'),
 ('Kyrgyzstan', 'KGS'),
 ("Lao People's Democratic Republic", 'LAK'),
 ('Lebanon', 'LBP'),
 ('Lesotho', 'LSL'),
 ('Liberia', 'LRD'),
 ('Madagascar', 'MGA'),
 ('Malawi', 'MWK'),
 ('Mali', 'XOF'),
 ('Mauritania', 'MRO'),
 ('Mozambique', 'MZN'),
 ('Myanmar', 'MMK'),
 ('Nepal', 'NPR'),
 ('Niger', 'XOF'),
 ('Nigeria', 'NGN'),
 ('Pakistan', 'PKR'),
 ('Panama', 'USD'),
 ('Peru', 'PEN'),
 ('Philippines', 'PHP'),
 ('Rwanda', 'RWF'),
 ('Senegal', 'XOF'),
 ('Somalia', 'SOS'),
 ('Sri Lanka', 'LKR'),
 ('Swaziland', 'SZL'),
 ('Syrian Arab Republic', 'SYP'),
 ('Tajikistan', 'TJS'),
 ('Timor-Leste', 'USD'),
 ('Turkey', 'TRY'),
 ('Uganda', 'UGX'),
 ('Ukraine', 'UAH'),
 ('United Republic of Tanzania', 'TZS'),
 ('Yemen', 'YER'),
 ('Zambia', 'ZMW'),
 ('Zimbabwe', 'USD'),
 ('State of Palestine', 'NIS'),
 ('Sudan', 'SDG'),
 ('Egypt', 'EGP'),
 ('South Sudan', 'SSP')]

In [21]:
#api for rates
import requests

# Where USD is the base currency you want to use
url = 'https://v3.exchangerate-api.com/bulk/10db317737079259f3d11b4b/INR'

# Making our request
response = requests.get(url)
JSON = response.json()

rates=JSON['rates']
rates

{'AED': 0.05736217,
 'AMD': 7.47212244,
 'ANG': 0.02783851,
 'AOA': 2.57840075,
 'ARS': 0.26849914,
 'AUD': 0.01969283,
 'BBD': 0.03123536,
 'BDT': 1.26565672,
 'BGN': 0.02587006,
 'BHD': 0.00588318,
 'BRL': 0.04919049,
 'BSD': 0.01561768,
 'BWP': 0.15912385,
 'BYN': 0.02895088,
 'CAD': 0.01950578,
 'CHF': 0.01499494,
 'CLP': 9.90348274,
 'CNY': 0.10387447,
 'COP': 45.63173512,
 'CZK': 0.34303125,
 'DKK': 0.09781703,
 'DOP': 0.73246916,
 'EEK': 0.20337971,
 'EGP': 0.27487115,
 'ETB': 0.36076839,
 'EUR': 0.01315123,
 'FJD': 0.03174293,
 'GBP': 0.01214646,
 'GHS': 0.06877245,
 'GTQ': 0.11365766,
 'HKD': 0.12213465,
 'HNL': 0.36423551,
 'HRK': 0.09716966,
 'HUF': 3.98034581,
 'IDR': 208.41517645,
 'ILS': 0.05601632,
 'INR': 1,
 'IQD': 18.21021396,
 'IRR': 516.55473997,
 'ISK': 1.63829455,
 'JMD': 1.98875527,
 'JOD': 0.01104638,
 'JPY': 1.71072545,
 'KES': 1.60830861,
 'KHR': 63.65609714,
 'KRW': 17.52023001,
 'KWD': 0.00470873,
 'KZT': 5.20787131,
 'LAK': 129.32531938,
 'LBP': 23.51397782,
 'LKR': 2.38794315,
 'LTL': 0.04668016,
 'LVL': 0.00950078,
 'MAD': 0.14682961,
 'MKD': 0.8061846,
 'MMK': 21.20880837,
 'MUR': 0.51538341,
 'MXN': 0.2753476,
 'MYR': 0.06672512,
 'NAD': 0.20349836,
 'NGN': 5.70045291,
 'NOK': 0.12149191,
 'NZD': 0.02159863,
 'OMR': 0.00600344,
 'PAB': 0.01561768,
 'PEN': 0.05049664,
 'PGK': 0.05128846,
 'PHP': 0.79786258,
 'PKR': 1.64297985,
 'PLN': 0.0560321,
 'PYG': 87.95876933,
 'QAR': 0.0570998,
 'RON': 0.06014897,
 'RSD': 1.57431673,
 'RUB': 0.91868168,
 'SAR': 0.05856474,
 'SCR': 0.21144776,
 'SEK': 0.12530576,
 'SGD': 0.02119283,
 'THB': 0.51946776,
 'TJS': 0.13733094,
 'TND': 0.03801343,
 'TRY': 0.05403603,
 'TTD': 0.105474,
 'TWD': 0.46992035,
 'TZS': 34.84304232,
 'UAH': 0.39856317,
 'USD': 0.01561866,
 'UYU': 0.44932063,
 'UZS': 65.04763392,
 'VEF': 0.15578635,
 'VND': 355.00546619,
 'XAF': 8.58222708,
 'XCD': 0.04216773,
 'XOF': 8.545057,
 'XPF': 1.5753553,
 'ZAR': 0.2044895,
 'ZMW': 0.14040294}

In [8]:
india=data[data['adm0_name'].str.contains("India")]
v=india.cm_name.unique()

In [10]:
from functools import reduce
from math import isnan
y=data.loc[data['pt_name']=='Retail'].index.values
z=data.loc[data['cm_name']=='Wheat'].index.values
l={}
for i in unique_coun:
    x=data.loc[data['adm0_name']==i].index.values
    result=reduce(set.intersection, map(set, [x,y,z]))
    avg=((data.loc[result, ['mp_price']].sum())/len(result)).values
    l[i]=avg[0]

clean_dict = {k: l[k] for k in l if not isnan(l[k])}  
print(clean_dict)

{'Afghanistan': 18.125114572864344, 'Ethiopia': 6.992861264822138, 'Guinea-Bissau': 449.08783783783781, 'India': 16.485024297119061, 'Indonesia': 7256.4500285714284, 'Kyrgyzstan': 21.155199787007412, 'Mauritania': 139.59272067307685, 'Nepal': 30.220590814196207, 'Pakistan': 35.171940119760485, 'Rwanda': 396.2915438622756, 'Tajikistan': 1.5424210164835155, 'Yemen': 135.19684333333333, 'Zimbabwe': 0.51081632653061237, 'Sudan': 3.0345539047619048}

In [16]:
#count anf average retail rate to be multiplied by
coun_fact={}
for x,y in Coun_type:
    for key,value in clean_dict.items():
        if x==key:
            coun_fact[y]=value
print(coun_fact)

{'AFN': 18.125114572864344, 'ETB': 6.992861264822138, 'XOF': 449.08783783783781, 'INR': 16.485024297119061, 'IDR': 7256.4500285714284, 'KGS': 21.155199787007412, 'MRO': 139.59272067307685, 'NPR': 30.220590814196207, 'PKR': 35.171940119760485, 'RWF': 396.2915438622756, 'TJS': 1.5424210164835155, 'YER': 135.19684333333333, 'USD': 0.51081632653061237, 'SDG': 3.0345539047619048}

In [26]:
Coun_name_avg={}
for x,y in Coun_type:
    for k,v in rates.items():
        if y==k:
            Coun_name_avg[x]=v
print(Coun_name_avg)

{'Armenia': 7.47212244, 'Bangladesh': 1.26565672, 'Benin': 8.545057, 'Burkina Faso': 8.545057, 'Cambodia': 63.65609714, 'Cameroon': 8.58222708, 'Central African Republic': 8.58222708, 'Chad': 8.58222708, 'Colombia': 45.63173512, 'Congo': 8.58222708, 'Costa Rica': 0.01561866, "Cote d'Ivoire": 8.545057, 'El Salvador': 0.01561866, 'Ethiopia': 0.36076839, 'Ghana': 0.06877245, 'Guatemala': 0.11365766, 'Guinea-Bissau': 8.545057, 'Honduras': 0.01561866, 'India': 1, 'Indonesia': 208.41517645, 'Iran  (Islamic Republic of)': 516.55473997, 'Iraq': 18.21021396, 'Jordan': 0.01104638, 'Kenya': 1.60830861, "Lao People's Democratic Republic": 129.32531938, 'Lebanon': 23.51397782, 'Mali': 8.545057, 'Myanmar': 21.20880837, 'Niger': 8.545057, 'Nigeria': 5.70045291, 'Pakistan': 1.64297985, 'Panama': 0.01561866, 'Peru': 0.05049664, 'Philippines': 0.79786258, 'Senegal': 8.545057, 'Sri Lanka': 2.38794315, 'Tajikistan': 0.13733094, 'Timor-Leste': 0.01561866, 'Turkey': 0.05403603, 'Ukraine': 0.39856317, 'United Republic of Tanzania': 34.84304232, 'Zambia': 0.14040294, 'Zimbabwe': 0.01561866, 'Egypt': 0.27487115}

In [23]:
#cost coverted to INR
cost_inr={}
for h,j in rates.items():
    for key,value in coun_fact.items():
        if h==key:
            cost_inr[h]=value/j
print(cost_inr)

{'INR': 16.485024297119061, 'ETB': 19.38324270821548, 'IDR': 34.817282273646192, 'PKR': 21.407408082187061, 'TJS': 11.231416725783101, 'USD': 32.70551548792357, 'XOF': 52.555277025985646}