In [2]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('wfp_market_food_prices.csv',encoding = "ISO-8859-1")
data.head(6)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP
5,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,6,2014,50.0,WFP

In [46]:
unique_coun=data.adm0_name.unique()
l=[]
for i in unique_coun:
    l.append(data.cur_name[(data.loc[data['adm0_name']==i].index[0])])
print(len(l))

74

In [39]:
#country name and currency
k=list(zip(m,l))

In [45]:
#api for rates
import requests

# Where USD is the base currency you want to use
url = 'https://v3.exchangerate-api.com/bulk/10db317737079259f3d11b4b/INR'

# Making our request
response = requests.get(url)
JSON = response.json()

rates=JSON['rates']

In [72]:
from functools import reduce
y=data.loc[data['pt_name']=='Retail'].index.values
z=data.loc[data['cm_name']=='Potatoes'].index.values
l={}
for i in unique_coun:
    x=data.loc[data['adm0_name']==i].index.values
    result=reduce(set.intersection, map(set, [x,y,z]))
    avg=((data.loc[result, ['mp_price']].sum())/len(result)).values
    l[i]=avg[0]
print(l)

{'Afghanistan': nan, 'Algeria': 73.075000000000003, 'Armenia': 200.16806722689077, 'Azerbaijan': 0.43896551724137928, 'Bangladesh': nan, 'Benin': nan, 'Bhutan': nan, 'Bolivia': nan, 'Burkina Faso': nan, 'Burundi': nan, 'Cambodia': nan, 'Cameroon': nan, 'Cape Verde': nan, 'Central African Republic': nan, 'Chad': nan, 'Colombia': nan, 'Congo': nan, 'Costa Rica': nan, "Cote d'Ivoire": nan, 'Democratic Republic of the Congo': nan, 'Djibouti': nan, 'El Salvador': nan, 'Ethiopia': nan, 'Gambia': nan, 'Georgia': nan, 'Ghana': nan, 'Guatemala': 6.211785714285714, 'Guinea-Bissau': nan, 'Guinea': 8418.1034482758623, 'Haiti': nan, 'Honduras': nan, 'India': 17.99968133535657, 'Indonesia': nan, 'Iran  (Islamic Republic of)': nan, 'Iraq': nan, 'Jordan': 0.75951685393258439, 'Kenya': nan, 'Kyrgyzstan': 18.654134552529154, "Lao People's Democratic Republic": nan, 'Lebanon': nan, 'Lesotho': nan, 'Liberia': nan, 'Madagascar': nan, 'Malawi': nan, 'Mali': nan, 'Mauritania': nan, 'Mozambique': nan, 'Myanmar': 512.98445408560281, 'Nepal': nan, 'Niger': nan, 'Nigeria': nan, 'Pakistan': nan, 'Panama': nan, 'Peru': 1.3630158730158732, 'Philippines': nan, 'Rwanda': nan, 'Senegal': nan, 'Somalia': nan, 'Sri Lanka': nan, 'Swaziland': nan, 'Syrian Arab Republic': nan, 'Tajikistan': 1.7086490153172857, 'Timor-Leste': nan, 'Turkey': 1.2581818181818181, 'Uganda': nan, 'Ukraine': 5.2103693798449635, 'United Republic of Tanzania': nan, 'Yemen': 249.88458694690266, 'Zambia': nan, 'Zimbabwe': nan, 'State of Palestine': nan, 'Sudan': nan, 'Egypt': 3.5810181818181812, 'South Sudan': nan}

In [70]:
india=data[data['adm0_name'].str.contains("India")]
india.cm_name.unique()

array(['Rice', 'Wheat flour', 'Lentils (masur)', 'Potatoes', 'Sugar',
       'Lentils', 'Tomatoes', 'Onions', 'Tea (black)', 'Oil (mustard)',
       'Oil (soybean)', 'Lentils (moong)', 'Sugar (jaggery/gur)',
       'Lentils (urad)', 'Ghee (vanaspati)', 'Salt (iodised)',
       'Milk (pasteurized)', 'Oil (palm)', 'Wheat', 'Oil (sunflower)',
       'Oil (groundnut)'], dtype=object)